EXPO_PUBLIC_PHOTO_LABELS_ENABLED=true
EXPO_PUBLIC_SUPABASE_ANALYZE_PHOTO_URL=https://sdlanaillklsdnkzkfri.supabase.co/functions/v1/analyze-photo-labels
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkbGFuYWlsbGtsc2Rua3prZnJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NTM5MjEsImV4cCI6MjA5NDIyOTkyMX0.Jb9kUhVHVfgvIU-cTLIbKXlg0QiVByjkXWFwqrrxGUc
